/*home-1 color css
========================================================================*/

.btn-skin,.team-wrapper .person-col ul li a:hover,.bubble,.pricing-wrapper .price-box .best-label,.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,.newsletter-form .input-group .btn-skin-border,.progress .progress-bar{
    background: #0081ff;
}
.mouse-down a:hover,.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open > .nav-link,.navbar-light .navbar-nav .nav-link:hover,.top-bar ul li a:hover,.h1_about_column_4_single:hover,.h1_about_column_4_single:hover h5,.text-color,.pricing-wrapper .price-box ul li:hover,.cbp-l-filters-work .cbp-filter-item.cbp-filter-item-active,.cbp-l-filters-work .cbp-filter-item:hover,.support-area .support-item i,.support-area .support-item a,.pricing-wrapper .subcribe_text a{
    color: #0081ff;
}
.about-tabs li a.active,.btn-skin-border{
    color: #0081ff;
    border-color: #0081ff;
}

.services-list li:hover,.btn-dark-border:hover,.cbp-l-loadMore-button .cbp-l-loadMore-link:hover, .cbp-l-loadMore-button .cbp-l-loadMore-link:focus,.btn-skin-border:hover, .btn-skin-border:focus{
    background:#0081ff;
    border-color: #0081ff;
}

.contact-form .form-group .form-control:hover, .contact-form .form-group .form-control:focus{
    border-color: #0081ff;
}

.footer-top .footer_sidebar .widget.about_us_widget .social_icon li a:hover,.footer-top .footer_sidebar .widget.widget_contact ul li .fleft a:hover,.footer-top .footer_sidebar .widget.widget_twitter .tweets li .tweets-text a:hover,.footer-top .footer_sidebar .widget.widget_instagram span a:hover,.footer-area a:hover,.scrollToTop{
    color: #0081ff;
}

/*home-1 color css
========================================================================*/


/*home-2 color css
========================================================================*/
.transparent-nav.bg-inverse .navbar-nav .nav-link:hover, .transparent-nav.bg-inverse .navbar-nav .nav-link.active,.entry-post:hover .post-content .ex-title{
    color: #0081ff;
}

/*home-2 color css
========================================================================*/

/*home-3 color css
========================================================================*/

.sec-title-one:before,.section-app-c ul li i,.mfp-close-btn-in .mfp-close{
    background: #0081ff;
}
.section-services .medium-icon-clear,.section-services .service_item:hover h4,.portfolio-area .portfolio-item .portfolio-image .popup span i,.background-black .price-box h1,.pricing-wrapper .subcribe_text a:hover,.team_area_two .person-col:hover h4,.recentposts_area .recentpost_carousel .item h6{
    color: #0081ff;
}
.section-services .service_item:hover .medium-icon-clear{
    background: #0081ff;
    box-shadow: 0 0 0 0px #0081ff;
    border-color: #0081ff;
}
.promo-btn:hover{
    background: #026ad0;
}
.section-promo .owl-dots .owl-dot.active,.background-black .price-box .btn-dark-border:hover{
    background: #0081ff;
    border-color: #0081ff;
}
.portfolio-area .portfolio-item .portfolio-image .popup,.recentposts_area .recentpost_carousel .item span{
    background: rgba(0, 129, 255, 0.9);
}
.promo-btn{
    background: #0081ff;
    color: #fff;
}
.form--square .form-control:focus{
    border-color: #0081ff;
}
/*home-3 color css
========================================================================*/


/*agency color css
========================================================================*/
.agency_menu.navbar-light .navbar-nav .nav-link.active, .agency_menu.navbar-light .navbar-nav .nav-link.open, .agency_menu.navbar-light .navbar-nav .open > .nav-link, .agency_menu.navbar-light .navbar-nav .nav-link:hover,.business_promo i,.agency_services_area .services-list li i{
    color: #0081ff;
}

.business_promo:before,.business_promo .pulse-wrapper .pulse-1:before, .business_promo .pulse-wrapper .pulse-2:before{
    background: rgba(0, 129, 265, 0.702);
}
.business_promo .pulse-wrapper .pulse-1, .business_promo .pulse-wrapper .pulse-2{
    background: rgba(0, 129, 265, 0.56);
}
.business_promo .pulse-wrapper .pulse-1:after, .business_promo .pulse-wrapper .pulse-2:after,.price-tab li .nav-link.active,.price-tab li .nav-link:hover, .price-tab li .nav-link:focus{
    background: #0081ff;
}

.agency_services_area .services-list li:hover,.btn-dark-border:hover, .btn-dark-border:focus,.price-tab li .nav-link.active:hover, .price-tab li .nav-link.active:focus{
    background: #0081ff;
    border-color: #0081ff;
}


.price .pricing-box .pricing-header h2,.price .pricing-box .pricing-header .packeg_typ,.try:hover,.accordian_tab .tab_menu li a:hover, .accordian_tab .tab_menu li a:focus,.expert_team_item:hover h4,.expert_team_item .e_team_image ul li:hover a,.testimonial_slider_two .item h2 span{
    color: #0081ff;
}

.purchase-btn{
    border-color: #0081ff;
    color: #0081ff;
}
.price .pricing-box.active:hover .purchase-btn,.price .pricing-box:hover .purchase-btn,.testimonial_slider_two .owl-prev:hover, .testimonial_slider_two .owl-next:hover,.s-btn:hover{
    background: #0081ff;
    border-color: #0081ff;
}

.accordian_tab .tab_menu li .active,.faq-inner-accordion .card .card-header .panel-title a{
    color: #0081ff;
}
.accordian_tab .tab_menu li a:before,.testimonial_slider_two .owl-dots .owl-dot.active,.universal_area{
    background:#0081ff; 
}
.expert_team_item .e_team_image:before{
   background: rgba(0, 129, 265, 0.74); 
}
.footer_top .news_widget .news_post a:hover,.footer_top .ex_link_widget .lists li a:hover,.f-text a:hover{
    color: #0081ff;
}
/*agency color css
========================================================================*/



/*blog standard color css
========================================================================*/
.sidebar-widget ul li a:hover,.post .post-content h3 a:hover,.post .post-content .btn-link:hover,.post .post-meta > li > a:hover,.sidebar-widget ul li a:hover,.post-detail h2 a:hover,.post-detail .list-inline .list-inline-item a:hover,a{
    color: #0081ff;
}
.pagination .page-item .page-link:hover,.pagination .page-item.active a{
    background: #0081ff;
    border-color: #0081ff;
}
.btn-dark-border:hover, .btn-dark-border:focus{
    background: #0081ff;
}





/*saas page color css
================================================================================*/
.transparent-nav.bg-inverse.fluid-menu .navbar-nav .nav-link:hover, .transparent-nav.bg-inverse.fluid-menu .navbar-nav .nav-link.active,.sass-pricing-area .pricing-item .price{
    color: #0081ff;
}
.topbar-right a:hover{
    background: #0081ff;
    border-color: #0081ff;
}
.saas-f-btn{
    background:#0081ff;
    border-color: #0081ff;
}

.saas-f-btn:hover{
    background: #0facf3;
}

.fun-fact-area:after{
    background:#0081ff;
}