/*
The team
*/

.person-col {
    position: relative;
    overflow: hidden;
    img{
        transition: all 0.4s;
        display: block;
        margin: 0 auto; 
    }
    .person-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        visibility: hidden;
        .person-inner {
            text-align: center;
            position: absolute;
            left: 0;
            width: 100%;
            top: 50%;
            margin-top: 0px;
            -moz-transition: all 0.4s;
            -o-transition: all 0.4s;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
            h4{
                margin-bottom: 0px;
                color: #fff;
            }
            span {
                display: block;
                margin-bottom: 15px;
                margin-top: 5px;
            }
            ul{
                li{
                    display: inline-block;
                    a{
                        color: #999;
                        font-size: 30px;
                        display: inline-block;
                        padding: 0px 5px;
                        &:hover{
                            color: #ea4452;
                        }
                    }
                }
            }
        }
    }
    &:hover{
        .person-overlay{
            opacity: 1;
            visibility: visible;
            .person-inner{
                margin-top: -40px;
            }
        } 
    }
}


/* more_details
======================================================*/
.more_details{
    .about-box{
        border: 1px solid #e9e9e9;
        padding: 90px 40px 40px;
        position: relative;
        margin-top: 85px;
        text-align: center;
        .round-icon-wrapper {
            height: 160px;
            width: 160px;
            background: #f5f6f7;
            border-radius: 50%;
            position: absolute;
            top: -75px;
            left: 0;
            right: 0;
            z-index: 0;
            margin: 0 auto;
            transition-duration: 0.3s;
            transition-timing-function: linear;
            font-size: 50px;
            color: #606060;
            line-height: 160px;
        }
        h3{
            font-size: 24px;
            font-weight: 500;
            font-family: $rob;
            margin-top: 20px;
            margin-bottom: 10px;
            a{
                color: #414141;
            }
        }
        &:hover{
            .round-icon-wrapper{
                background:#ea4452;
                color: #fff;
            }
        }
    }
}



.clients {
    background: #fff;
    img{
        opacity: 0.50;
        transition: all 0.4s linear;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
    }
}