.c_title{
    font-size: 24px;
    font-weight: 500;
}
.address-area{
    .view-location{
        margin: 20px 0px 25px;
    }
    h2{
        font-size: 18px;
    }
    i{
        color: #ea4452;
        padding-right: 15px;
    }
    p{
        font-size: 14px;
        margin-bottom: 0px;
    }
    a{
        padding-left: 27px;
        color: #888;
        &:hover{
            color: #ea4452;
        }
    }
    .address-details{
        span{
            font-size: 12px;
            i{
                padding-right: 10px;
            }
        }
    }
}
.contact-form-left{
    .form-control{
        border-radius: 40px;
        border: 1px solid #ededed;
        font:400 14px/30px $rob;
        color: #101010;
        margin-bottom: 20px;
        padding-left: 25px;
        transition: all 0.3s linear;
        @include placeholder{
            color: #999;
        }
        &:hover,&:focus{
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: 0 15px 34px rgba(0, 0, 0, 0.18);
        }
    }
    textarea{
        &.form-control{
            height: 200px;
            padding-top: 20px;
            border-radius: 22px;
            resize: none;
        }
    }
}



/* Contact From popup css
============================================================================================ */
.modal-message{
    background: rgba(0, 0, 0, 0.5);
    .modal-dialog{
        margin-top: 0px;
        margin-bottom: 0px;
        top: 30%;
        position: absolute;
        transform: translateY(-50%);
        right: 0px;
        left: 0px;
        border-radius: 0px;
        .modal-content{
            border: none;
            border-radius: 15px;
            text-align: center;
            .modal-header{
                border-bottom: 0px;
                padding-bottom: 0px;
                display: block;
            }
            h2{
                color: #000;
                font-size: 40px;
                font-family: $rob; 
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 3px;
                padding-bottom: 10px;
                padding-top: 20px;
            } 
            p{
                color: #888;
                font-size: 16px;
                font-family: $rob;
                padding-bottom: 40px;
            }
        }
    }
}

#error{
    h2{
        color: #ea4452;
    } 
}

#success{
    h2{
        color: #14e06e;
    } 
}
.modal-backdrop{
    z-index: 20;
}